<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Material Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{{url_for('static',filename='css/admin/bootstrap.min.css')}}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{{url_for('static',filename='css/admin/material-dashboard.css')}}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ url_for('static',filename='css/admin/demo.css')}}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>
<body>
{% block body %}	{% endblock %}
</body>
<!--   Core JS Files   -->
<script src="{{ url_for('static',filename='js/admin/jquery-3.2.1.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/admin/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/admin/material.min.js')}}" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="{{ url_for('static',filename='js/admin/chartist.min.js')}}"></script>
<!--  Dynamic Elements plugin -->
<script src="{{ url_for('static',filename='js/admin/arrive.min.js')}}"></script>
<!--  PerfectScrollbar Library -->
<script src="{{ url_for('static',filename='js/admin/perfect-scrollbar.jquery.min.js')}}"></script>
<!--  Notifications Plugin    -->
<script src="{{ url_for('static',filename='js/admin/bootstrap-notify.js')}}"></script>
<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!-- Material Dashboard javascript methods -->
<script src="{{ url_for('static',filename='js/admin/material-dashboard.js')}}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<!-- <script src="{{ url_for('static',filename='js/admin/demo.js')}}"></script> -->


</html>