{% include 'layout.html' %}

{% block body %}
<div class="container">
	<form action="" method="post">
	<div class="row">
		<div class="input-field col s12 m12 13">
			<input type="text" name="aadhar" id="aadhar" class="validate">
			<label for="aadhar">Aadhar</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m12 13">
			<input type="text" name="dof" id="aadhar" class="validate">
			<label for="aadhar">Date of Birth</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m12 13">
			<input type="text" name="phone" id="aadhar" class="validate">
			<label for="aadhar">Phone</label>
		</div>
	</div>
	<div class="center">
		<input class="btn" type="submit" name="submit" value="submit">
	</div>
	</form>
</div>
{% endblock %}