{% include 'layout.html' %}

{% block body %}
<div class="container">
	<form action="" method="post">
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="first_name">
			<label for="first_name">First Name</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="second_name">
			<label for="first_name">Second Name</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="father_name">
			<label for="first_name">Father Name</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="dof">
			<label for="first_name">Date of birth</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="phone">
			<label for="first_name">Phone Number</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="city">
			<label for="first_name">City</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="zip" name="pin">
			<label for="zip">Pin/Zip</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="district" name="district">
			<label for="district">District</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="state" name="state">
			<label for="state">State</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="martialstatus">
			<label for="first_name">Matrial Status</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="panno">
			<label for="first_name">Pan Number</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="aadhar">
			<label for="aadhar">Aadhar</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field s12 m12 13">
			<input type="text" class="validate" id="first_name" name="address">
			<label for="aadhar">P Address</label>
		</div>
	</div>
	
	<div class="left-align">
		<button class="btn" name="submit">Register</button>
	</div>
	</form>
</div>
{% endblock %}