{% include 'layout.html' %}

{% block body %}
<div class="container">
	<div class="row" style="margin-top: 20px;">
	    <div class="col s12 m4 13">
    	    <img class="responsive-img z-depth-1" width="200" height="400" style="border:5px solid white;" src="{{ url_for('static',filename='img/spyder1.jpg') }}">
	    </div>
	</div>
	<div class="row">
	    <h3 class="thin" style="padding-top: 30px;">Sai yaswanth</h3>
	</div>
	<div class="row">
		<div class="col s12 m12 13">
            <div class="row">
              <div class="col s12 m12 13">
                <span class="" style="font-size: 20px;">Age:</span>&nbsp;&nbsp;<span style="font-family:'Didact Gothic', sans-serif;font-size: 20px;"></span>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 13">
                <span class="" style="font-size: 20px;">Phone No:</span>&nbsp;&nbsp;<span style="font-family:'Didact Gothic', sans-serif;font-size: 20px;"></span>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 13">
                <span class="" style="font-size: 20px;">Position:</span>&nbsp;&nbsp;<span style="font-family:'Didact Gothic', sans-serif;font-size: 20px;"></span>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 13">
                <span class="" style="font-size: 20px;">Branch:</span>&nbsp;&nbsp;<span style="font-family:'Didact Gothic', sans-serif;font-size: 20px;"></span>
              </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}